<header-cmp class="hydrated" />
<main class="main-content hydrated">
  <navigation-cmp class="hydrated" />
  <article class="product">
    @defer (on interaction; hydrate on interaction) {
      <product-cmp class="deferred">
        <p class="cmp-name">&lt;Product&gt;</p>
        @defer (on interaction; hydrate on idle) {
          <details-cmp class="deferred">
            <p class="cmp-name">&lt;Details&gt;</p>
            <div style="display: flex;">
              <div style="flex: 0.8;">
                <img src="product-1.png" style="width: 150px; margin: 20px 0px 0px 15px;" />
              </div>
              <div style="flex: 1;">
                <p style="margin-bottom: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <label for="qty">Quantity</label>
                <input #quantity type="number" value="1" id="qty" style="width: 40px; margin: 0px 10px;" />
                <button type="button" (click)="addToCart(quantity.valueAsNumber)">Add to cart</button>
              </div>
            </div>
            <p class="cmp-name" style="margin-top: 35px;">Recommended products</p>
            <div style="display: flex;">
              @defer (on interaction; hydrate on interaction) {
                <recommended-cmp class="deferred" style="flex: 1;">
                  <p class="cmp-name">&lt;Card&gt;</p>
                  <img src="product-2.png" style="width: 100px; height: 100px; margin: 15px auto;" />
                  <button (click)="addToCart(1)">Add to cart</button>
                </recommended-cmp>
              } @placeholder {
                <p class="placeholder">Item placeholder</p>
              }
              @defer (on interaction; hydrate on interaction) {
                <recommended-cmp class="deferred" style="flex: 1;">
                  <p class="cmp-name">&lt;Card&gt;</p>
                  <img src="product-3.png" style="width: 100px; height: 100px; margin: 15px auto;" />
                  <button (click)="addToCart(1)">Add to cart</button>
                </recommended-cmp>
              } @placeholder {
                <p class="placeholder">Item placeholder</p>
              }
            </div>
          </details-cmp>
        } @placeholder {
          <p class="placeholder">Details placeholder</p>
        }
      </product-cmp>
    } @placeholder {
      <p class="placeholder">Product placeholder</p>
    }
  </article>
  <span (click)="addToCart(1)"></span>
</main>
<footer-cmp />
<info-window-cmp />
